!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>❃-İletişim Bilgileri</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/buttons.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>
  <body id="body">
    <header class="ana-başlık">
      <a href="#" class="main-header__logo">𝓭𝓾𝔂𝓰𝓾'𝓼 𝓭𝓲𝓪𝓻𝔂</a>
      <nav class="main-nav">
        <ul class="main-nav__items">
          <li class="main-nav__item">
            <a href="index.html">Anasayfa</a>
          </li>

          <li class="main-nav__item">
            <a href="#">iletişim Sayfası </a>
          </li>

          <li class="main-nav__item">
            <a href="#">Kayıt Ol</a>
          </li>

          <li class="main-nav__item main-nav__item--login">
            <a class="btn btn-secondary" href="logın.html">Login</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="signup-page">
      <h1 class="signup-title">Bilgilerinizi Giriniz</h1>
      <form action="formgoruntule.html" class="signup-form">
        <label for="firstname">Adınız</label>
        <input type="text" id="firstname" v-model="firstname" />
        <br />

        <label for="lastname">Soyadınız</label>
        <input type="text" id="lastname" v-model="lastname" />
        <br />

        <label for="email">Emailiniz</label>
        <input type="email" id="email" v-model="email" />
        <br />

        <label for="birthdate">Doğum Tarihi</label>
        <input type="date" id="birthdate" v-model="birthdate" />
        <br />

        <label for="password">Şifreniz</label>
        <input type="password" id="password" v-model="password" />
        <br />

        <label for="gender">Cinsiyetiniz</label>
        <select id="gender" v-model="gender">
          <option value="">Cinsiyet</option>
          <option value="Kadın">Kadın</option>
          <option value="Erkek">Erkek</option>
        </select>
        <br />

        <input type="checkbox" id="agree-terms" v-model="agreeTerms" />
        <label for="agree-terms"
          >Mail ile site haberlerini almak istiyorum</label
        >
        <br />
        <br />

        <button type="button" @click="validateForm" class="btn btn-primary">
          Formu Gönder
        </button>
        <br />
        <br />
        <button type="button" @click="resetForm" class="btn btn-primary">
          Formu Sıfırla
        </button>
        <br />
        <br />
      </form>

      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
      <script>
        new Vue({
          el: ".signup-page",
          data: {
            // Form verileri
            firstname: "",
            lastname: "",
            email: "",
            password: "",
            gender: "",
            birthdate: "",
            agreeTerms: false,
          },
          methods: {
            validateForm: function () {
              // Form doğrulama işlemleri
              if (this.firstname.trim() === "") {
                alert("Lütfen adınızı girin.");
                return;
              }

              if (this.birthdate === "") {
                alert("Lütfen doğum tarihinizi girin.");
                return;
              }

              if (this.lastname.trim() === "") {
                alert("Lütfen soyadınızı girin.");
                return;
              }

              if (this.email.trim() === "") {
                alert("Lütfen e-posta adresinizi girin.");
                return;
              }

              // E-posta doğrulama işlemi
              var emailRegex = /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/;
              if (!emailRegex.test(this.email)) {
                alert("Lütfen geçerli bir e-posta adresi girin.");
                return;
              }

              if (this.password.trim() === "") {
                alert("Lütfen şifrenizi girin.");
                return;
              }

              if (this.gender === "") {
                alert("Lütfen cinsiyetinizi seçin.");
                return;
              }

              if (!this.agreeTerms) {
                alert("Lütfen şartları kabul edin.");
                return;
              }

              // Formun gönderilmesi veya diğer işlemler
              alert("Form başarıyla gönderildi!");

              // Form verilerini sakla
              localStorage.setItem("formData", JSON.stringify(this.$data));

              // Yönlendirme yap
              window.location.href = "formgoruntule.html";
            },

            resetForm: function () {
              // Formu sıfırlama işlemi
              this.firstname = "";
              this.lastname = "";
              this.email = "";
              (this.birthdate = ""), (this.password = "");
              this.gender = "";
              this.agreeTerms = false;
            },
          },
        });
      </script>
    </main>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-2">
            <ul id="footer-links">
              <li><a href="#">About</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Forum</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
          <div class="col-2">
            <ul id="social-links">
              <li><a href="" class="fab fa-facebook"></a></li>
              <li><a href="" class="fab fa-twitter"></a></li>
              <li><a href="" class="fab fa-instagram"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <a href="#body" id="backtotop">
      <i class="fas fa-chevron-circle-up"></i>
    </a>
  </body>
</html>
